<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Stores Application</title>
        <link href="lib/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet" />
        <style type="text/css">
        [ng\:cloak], [ng-cloak], .ng-cloak {
          display: none !important;
        }
        </style>
    </head>
    <body ng-app="app">
        <div class="container">
            <h1>Welcome to Stores Intranet App</h1>

            <p>Click <a th:href="@{/welcome}">here</a> to see a greeting.</p>

            <div ng-controller="home" ng-cloak="" class="ng-cloak">
              <p>The ID is {{greeting.id}}</p>
              <p>The content is {{greeting.content}}</p>
            
	            <button class="btn btn-small" ng-click="addStore()">Add Store</button>
	            <button class="btn btn-small" ng-click="addStoreItemMaster()">Add Store Item Master</button>
	            <button class="btn btn-small" ng-click="addStoreItemQtyToStore()">Add Store Item to Store</button>
	            <button class="btn btn-small" ng-click="removeStoreItemQtyFromStore()">Remove Store Item Qty from Store</button>
	            <button class="btn btn-small" ng-click="updateStoreItemStockToStore()">Update Stock Item in Store</button>
	            <!-- Button to add a store  -->
	            <!-- Button to add a store item to master -->
	            <!-- Button to add a store item to store -->
	            <!-- Button to remove qty of item from store -->
            </div>
        </div>
        <script src="js/angular.min.js" type="text/javascript"></script>
        <script src="js/main.js" type="text/javascript"></script>
    </body>
</html>