<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <bean id="storeitem1" class="com.dakinegroup.StoreItem">  
       <property name="erpcode" value="05230419"></property>  
        <property name="description1" value="Steel Plate"></property>  
       <property name="description2" value="Galvanised Hammered Steel"></property>  
    </bean>  
    <bean id="storeitem2" class="com.dakinegroup.StoreItem">
       <property name="erpcode" value="0229003"></property>
    </bean>
    <bean id="storeitem3" class="com.dakinegroup.StoreItem">
        <constructor-arg value="0521003" type="String"></constructor-arg>
        <constructor-arg value="Bearings - steel" type="String"></constructor-arg>
    </bean>
    <bean id="store1" class="com.dakinegroup.Store">
        <property name="items">
            <list>
                <ref bean="storeitem1" />
                <ref bean="storeitem2" />
                <ref bean="storeitem3" />
            </list>
        </property>
    </bean>

    <bean id="doBeforeMethodBean"
            class="com.dakinegroup.aop.DoBeforeMethod" />
    <bean id="doAfterMethodBean"
        class="com.dakinegroup.aop.DoAfterMethod" />
    <bean id="doAroundMethodBean"
        class="com.dakinegroup.aop.DoAroundMethod" />

    <bean id="store1Proxy"
        class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="store1" />
        <property name="interceptorNames">
            <list>
                <value>doBeforeMethodBean</value>
                <value>doAfterMethodBean</value>
                <value>doAroundMethodBean</value>
            </list>
        </property>       
    </bean>   

</beans>
